@import 'reset';

body {
    background-color: #FEFEFE;
    position: relative;
    overflow-x: hidden;
}

.app {
    text-align: center;
    padding: 25px;
}

button, input[type="submit"] {
    cursor: pointer;
    padding: 12px;
    background-color: #111;
    color: #FFF;
    border: none;
    font-weight: bolder;
    border-radius: 4px;
}

code {
    display: block;
    white-space: nowrap;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    overflow-x: auto;
    padding: 20px;
}

.quest-details-form-wrapper {
    display: inline-block;
    width: 480px;
    margin: 12px;
    vertical-align: top;

    @media all and (max-width: 900px) {
        display: block;
        width: 95%;
        box-sizing: border-box;
        margin: auto;
    }
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}