$sidebar-width: 320px;

.large-view-layout {


    .list-items {
        position: fixed;
        height: 100%;
        width: $sidebar-width;
        top: 0px;
        bottom: 0px;
        background-color: #333;
        color: #FFF;
        overflow-y: auto;

        z-index: 999;

        .list-item {
            padding: 15px 10px 15px 15px;
            cursor: pointer;
            transition: background-color 0.32s ease;
            position: relative;
            box-sizing: border-box;
            border-left: solid 3px transparent;
            max-width: 100%;

            .file-name {
                font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
                font-size: 12px;
                letter-spacing: 1.05px;
            }

            button.copy-button {
                font-size: 12px;
                padding: 8px 12px;
            }

            .delete-btn {
                color: #FFF;
                background-color: transparent;
                margin-left: 3px;
                font-size: 11px;
                padding: 12px 5px;
            }

            &:hover {
                background-color: #555;
            }
        }

        .selected {
            border-left-color: red;
        }
    }
    
    .copy-btn {
        padding: 20px;
    }

    .content {
        margin-left: $sidebar-width;
        position: relative;
        z-index: 2;
        background-color: #F1F1F1;
    }

    .original-file-actions {
        display: table;
        margin: auto 0px auto auto;

        button {
            padding: 15px;
            background-color: transparent;
            color: #555;
        }
    }

}