$fontHeavy: 'Barlow', sans-serif;

.quest-content {
    padding: 15px;
    background-color: #FEFEFE;
    border-bottom: solid thin #DDD;

    .item {
        padding: 10px 0px;

        h1 {
            font-size: 12px;
            font-family: $fontHeavy;
            font-weight: bolder;
            letter-spacing: 1.25px;
            margin-bottom: 5px;
        }

        p {
            font-size: 18px;
        }
    }
}