$fontHeavy: 'Barlow', sans-serif;

.top-controls {
    box-shadow: 0px 5px 26px -6px #DDD;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
}

.top-controls {
    .files-loaded {
        font-family: $fontHeavy;
        display: inline-block;
        vertical-align: middle;
        font-weight: bolder;
        font-size: 18px;
        padding: 10px;
        text-transform: uppercase;
    }

    .view-btn {
        display: inline-block;
        vertical-align: middle;
    }

    input[type="file"] {
        display: none;
    }

    .file-import-inner {
        display: inline-block;
        padding: 12px;
        margin-right: 5px;
        border-radius: 3px;
    }

    .delete-all-btn {
        background-color: transparent;
        padding: 8px 10px;
        color: #111;
    }

    .side-controls {
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;

        &.right {
            margin-right: 0px;
            margin-left: auto;
        }
    }
}